.average-reward {
  .level-item {
    justify-content: flex-start;
    .title {
      text-transform: capitalize;
    }
    .legend {
      color: $grey;
      font-size: 0.8rem;
      font-style: italic;
    }
    .result {
      color: $lightBlue;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}
