.navbarSign {
  .navbar {
    height: 3rem;
    position: relative;
    padding-top: 0.5rem;
    background-color: transparent;
    @include medium {
      background-color: $blue;
    }
    .navbar-end {
      float: right;
      margin-right: 1.5rem;
      span {
        font-size: 0.8rem;
        @include medium {
          color: #fff;
        }
      }
      button {
        border: 1px solid $grey;
        text-transform: uppercase;
        padding: 0 3rem;
        margin-left: 1.5rem;
        color: $grey;
        transition: all 0.2s ease;
        &:hover {
          color: white;
          background-color: $lightBlue;
          border: 1px solid $lightBlue;
        }
        &:focus {
          outline: 0;
        }
      }
    }
  }
}
