.biography {
  .container {
    width: 100%;
    padding: 1rem;
    @include flexCenter();
    flex-direction: column;
    >.icon {
      background-color: $lightGrey;
      border-radius: 50%;
      padding: 2rem;
      i {
        color: $blue;
      }
    }
    .title {
      margin-top: 0.8rem;
    }
    .content {
      width: 50%;
      @include medium {
        width: 70%;
      }
      @include mobile {
        width: 80%;
      }
      p {
        color: $grey;
        font-size: 0.9rem;
        font-style: italic;
        text-align: center;
      }
      .form {
        margin-top: 2rem;
        label {
          font-size: 0.8rem;
        }
        .validate {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
